/**************************************************
TYPOGRAPHY
**************************************************/
@import "_typography";
/*-------------------------------------------------
Global styles
-------------------------------------------------*/
@import "bootstrap";
/*-------------------------------------------------
Global styles
-------------------------------------------------*/
@import "global";
/*************************************************
MIXINS
**************************************************/
@import "mixins";
/*-------------------------------------------------
Parts
-------------------------------------------------*/
@import "parts/all";
/*-------------------------------------------------
Layouts
-------------------------------------------------*/
@import "layouts/all";
/*-------------------------------------------------
Page templates
-------------------------------------------------*/
@import "page-templates/all";

.title{
	&:hover{
animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
	}
}